<nav>
  <div class="nav-wrapper">
    <a class="brand-logo left" id="navbar-brand"></a>
    <ul class="side-nav" id="mobile-demo">
      <!-- <li><a href="#home">Home</a></li> -->
      <li><a href="#about">Over MijnLijstjes</a></li>
      <li class="divider"></li>
      <li data-loggedin="true"><a href="#lijstjes">Lijstjes</a></li>
      <li><a href="#settings">Instellingen</a></li>
      <li class="divider"></li>
      <li data-loggedin="true"><a href="#my-account">Mijn Account</a></li>
      <li data-loggedin="true" id="logout"><a>Uitloggen</a></li>
      <li data-loggedin="false"><a href="#login">Inloggen</a></li>
      <li data-loggedin="false"><a href="#register">Registreren</a></li>
      <li class="divider"></li>
      <li><a href="#terms-of-service">Gebruiksvoorwaarden</a></li>
      <li><a id="invite-a-friend">Iemand Uitnodigen</a></li>
    </ul>
    <ul class="right">
      <li data-maintenance="true">
        <a data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
      </li>
    </ul>
  </div>
</nav>
