$primary-color: #0051ba;
$secondary-color: #0496ff;
$tertiary-color: #00a896;
$quaternary-color: #3da5d9;
$background-color: #ffffff;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav{
  background-color: $primary-color;
}

#page{
  padding-top: 25px;
}

/* Loader */
#loader-wrapper{
  height: 100%;
  width: 100%;
  background-color: $background-color;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

/* buttons */
.btn, .btn-large{
  background-color:$primary-color;
}
.btn:hover, .btn-large:hover{
  background-color:lighten($primary-color,10%); //lighten the colour
}

/* Collection */
.collection a.collection-item{
  color: $primary-color;
}

/* Fix bug where could not use checkboxes */
.input-field label {
  pointer-events: auto;
}

/* change colours of input */
.input-field input[type=text]:focus + label,.input-field input[type=password]:focus + label,.input-field input[type=email]:focus + label,.input-field textarea:focus + label{
  color: $primary-color !important;
}
.input-field input[type=text]:focus,.input-field input[type=password]:focus,.input-field input[type=email]:focus,.input-field textarea:focus {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: $secondary-color !important;
}
.switch label input[type=checkbox]:checked+.lever {
  background-color: $primary-color !important;
}
[type="checkbox"].filled-in:checked+label:after{
  border: 2px solid $primary-color;
  background-color: $primary-color;
}
