<script>
var pageConfig = {
  "title": "Onderhoud",
  "description": "Maintenance Page"
};
</script>

<div class="row">
  De server is op dit moment in onderhoud!<br />
  Sluit de app en probeer het over enkele minuten nog eens!
</div>
