<script>
var pageConfig = {
  "title": "Over",
  "description": "About page"
};
</script>

<div class="col s12">
  <h4>Waarom heb je deze app gemaakt?</h4>
  Thuis hebben we een algemeen boodschappenlijstje,
  Heb je iets nodig, dan moet je dat zelf op het lijstje zetten.<br />
  Dit lijstje raakte soms kwijt, of er waren meerdere lijstjes.<br />
  Hier klaagde ik vaak over, en toen zei mijn moeder voor de grap: "waarom maak je niet een app ervoor?".<br />
  En toen gingen er een lampje branden!<br />
  Ze zei het voor de grap, maar ik zag er best wel wat in.<br />
  De volgende dag ging ik dus snel aan de slag!<br />
  Ik realizeerde me dat de app niet alleen gebruikt kon worden voor Boodschappen, maar voor lijstjes in het algemeen!

  <h4>Is de app gratis?</h4>
  Op dit moment is de app nog in enorm ontwikkeling.<br />
  Om te zorgen dat mensen niet betalen voor iets wat nog geen garanties heeft blijft de app geheel gratis tijdens deze fase.<br />
  Er kunnen echter door de tijd heen wat advertenties worden vertoond om de ontwikkeling van de app te ondersteunen.<br />
  Over de toekomst kan ik echter niks zeggen, het zal afhangen van heel wat factoren.

  <h4>Wat doe je met onze gegevens?</h4>
  Op dit moment doe ik er helemaal niks mee behalve opslaan in de database.<br />
  Ik verkoop de data niet, en verwerk ze ook niet buiten het opslaan en weergeven van de lijstjes.<br />
  Lijstjes die worden verwijderd worden ook helemaal uit de database verwijderd.<br />
  Behandel de app echter niet als een super veilige opslag, op dit moment kan er vanalles misgaan (ik doe mijn best om dit te voorkomen).<br />
  Er word nog aan een betere gebruiks- en privacyvoorwaarden gewerkt.
</div>
