<script>
var pageConfig = {
  "title": "Lijstjes",
  "description": "Lijstjes page"
};
</script>

<div class="row">
  <div class="col s12">
    <a class="btn btn-large waves-effect waves-light right" id="btn_createLijstje"><i class="material-icons">add</i></a>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collection" id="lijstjes"></ul>
  </div>
</div>


<div id="modal_createLijstje" class="modal">
  <div class="modal-content">
    <h4>Lijstje Aanmaken</h4>
    <form class="col s12" id="createLijstje">
      <div class="row">
        <div class="input-field col s12">
          <input id="createLijstje_lijstjeNaam" name="lijstjeNaam" type="text">
          <label for="createLijstje_lijstjeNaam">Lijstje Naam</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="hidden" name="action" value="createLijstje">
          <button class="btn waves-effect waves-light" type="submit">Aanmaken
            <i class="material-icons right">send</i>
          </button>
          <button class="btn waves-effect waves-light" type="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
function listLijstjes(){
  var UID = getUID();
  var Authtoken = getAuthtoken();
  Promise.all([UID, Authtoken]).then(function(values){
    $.ajax({
      url: apiUrl,
      method: "POST",
      data: "action=listLijstjes&Authtoken=" + values[1] + "&UID=" + values[0],
      success: function(res){
        var data = JSON.parse(res);
        switch(data.status){
          case 200:
            var lijstjesContent = "";
            $.each( data.result, function( key, value ) {
              lijstjesContent = lijstjesContent.concat(`
                <a href="#showlijstje@`+value.LID+`" class="collection-item">
                  `+value.Name+` <span class="badge">`+value.Owner+`</span>
                </a>
              `);
            });
            $("#lijstjes").html(lijstjesContent);
            var lijstjesContent = ""; // Clean for next refresh
            if(lijstjesContent != ""){
              $("#lijstjes").show();
            }
            break;
          case 500:
            $("#lijstjes").hide();
            Materialize.toast("Could not load Lijstjes!", 4000);
            break;
          case 404:
            $("#lijstjes").hide();
            break;
          case 403:
            Materialize.toast("Invalid authtoken!", 4000);
            break;
          case 666:
            alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
            history.pushState("#666", document.title,"#666");
            $.log("Loading 666");
            $.loadpage("666");
            break;
          default:
            Materialize.toast("Unknown error, this should not have happened!", 4000);
            $.log(res);
            break;
        }
      }
    });
  });
}

$(function(){

  listLijstjes();
  $(".modal").modal();
  $("#btn_createLijstje").click(function(){
    $.log("Opening createLijstje modal");
    $("#modal_createLijstje").modal("open");
  });

  $("#createLijstje").submit(function(e){
    e.preventDefault();
    var UID = getUID();
    var Authtoken = getAuthtoken();
    var data = $(this);
    Promise.all([UID, Authtoken]).then(function(values){
      $.ajax({
        url: apiUrl,
        method: "POST",
        data: $(data).serialize() + "&Authtoken=" + values[1] + "&UID=" + values[0],
        success: function(res){
          var data = JSON.parse(res);
          switch(data.status){
            case 200:
              Materialize.toast("Lijstje created!", 4000);
              $("#createLijstje").trigger("reset");
              $("#modal_createLijstje").modal("close");
              listLijstjes();
              break;
            case 500:
              Materialize.toast("Something went wrong while trying to create the list...<br />Please try again later :-(", 4000);
              $.log(res);
              break;
            case 403:
              Materialize.toast("Invalid authtoken!", 4000);
              break;
            case 666:
              alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
              history.pushState("#666", document.title,"#666");
              $.log("Loading 666");
              $.loadpage("666");
              break;
            default:
              Materialize.toast("Unknown error, this should not have happened!", 4000);
              $.log(res);
              break;
          }
        }
      });
    });
  });
});
</script>
