<script>
var pageConfig = {
  "title": "Login",
  "description": "Login page"
};
</script>

<form class="col s12" id="loginForm">
  <div class="row">
    <div class="input-field col s12">
      <input id="username" name="username" type="text">
      <label for="username">Username or email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" name="password" type="password">
      <label for="password">Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="hidden" name="action" value="login">
      <button class="btn waves-effect waves-light" type="submit">Login
        <i class="material-icons right">send</i>
      </button>
      <a class="waves-effect waves-light btn">Reset</a>
    </div>
  </div>
</form>

<script>
  $(function(){
    $("#loginForm").submit(function(e){
      // stop the page from refreshing
      e.preventDefault();
      $.ajax({
        url: apiUrl,
        method: "POST",
        data: $(this).serialize(),
        success: function(res){
          var data = JSON.parse(res);
          switch(data.status){
            case 200:
              Materialize.toast("Login successful!", 4000);
              userData.setItem('Authtoken',data.result.Authtoken);
              userData.setItem('UID', data.result.UID);
              $.showLoggedIn();
              history.pushState("#lijstjes", document.title,"#lijstjes");
              $.loadpage("lijstjes");
              break;
            case 500:
              Materialize.toast("Something went wrong while trying to login...<br />Please try again later :-(", 4000);
              $.log(res);
              break;
            case 403:
              Materialize.toast("Invalid username or password!", 4000);
              $("#username").addClass("invalid");
              $("#password").addClass("invalid");
              break;
            case 666:
              $("[data-maintenance='true']").hide();
              alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
              history.pushState("#666", document.title,"#666");
              $.log("Loading 666");
              $.loadpage("666");
              break;
            default:
              Materialize.toast("Unknown error, this should not have happened!", 4000);
              $.log(res);
              break;
          }
        }
      });
    });
  });
</script>
