<script>
var pageConfig = {
  "title": "Mijn Account",
  "description": "Mijn account"
};
</script>


<div class="row">
  <div class="col s12">
    <h4>Persoons Gegevens</h4>
    <form id="form_persoonsGegevens">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" name="first_name" type="text">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" name="last_name" type="text">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="username" name="username" type="text">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Email Address</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" name="password" type="password">
          <label for="password">Huidig Wachtwoord</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="hidden" name="action" value="editAccount">
          <button class="btn waves-effect waves-light" type="submit">Opslaan
            <i class="material-icons right">send</i>
          </button>
          <button class="btn waves-effect waves-light" type="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4>Wachtwoord Wijzigen</h4>
    <form id="form_changePassword">
      <div class="row">
        <div class="input-field col s12">
          <input id="password_current" name="password_current" type="password">
          <label for="password_current">Huidig Wachtwoord</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password_new" name="password_new" type="password">
          <label for="password_new">New Password</label>
        </div>
        <div class="input-field col s6">
          <input id="password_new_conf" name="password_new_conf" type="password">
          <label for="password_new_conf">Confirm New Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="hidden" name="action" value="changePassword">
          <button class="btn waves-effect waves-light" type="submit">Wijzigen
            <i class="material-icons right">send</i>
          </button>
          <button class="btn waves-effect waves-light" type="reset">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>


<script>
$(function(){
  var UID = getUID();
  var Authtoken = getAuthtoken();
  Promise.all([UID, Authtoken]).then(function(values){
    $.ajax({
      url: apiUrl,
      method: "POST",
      data:"action=getUserdetails&Authtoken=" + values[1] + "&UID=" + values[0],
      success: function(res){
        var data = JSON.parse(res);
        switch(data.status){
          case 200:
            var userDetails = JSON.parse(data.result);
            $("#first_name").val(userDetails.Voornaam);
            $("#last_name").val(userDetails.Achternaam);
            $("#username").val(userDetails.Username);
            $("#email").val(userDetails.email);
            Materialize.updateTextFields();
            break;
          case 666:
            $("[data-maintenance='true']").hide();
            alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
            history.pushState("#666", document.title,"#666");
            $.log("Loading 666");
            $.loadpage("666");
            break;
        }
      }
    });
    $("#form_persoonsGegevens").submit(function(e){
      e.preventDefault();
      $.ajax({
        url: apiUrl,
        method: "POST",
        data: $(this).serialize() + "&Authtoken=" + values[1] + "&UID=" + values[0],
        success: function(res){
          var data = JSON.parse(res);
          switch(data.status){
            case 200:
              $("#password").val();
              Materialize.updateTextFields();
              Materialize.toast("Update success!",4000);
              break;
            case 666:
              $("[data-maintenance='true']").hide();
              alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
              history.pushState("#666", document.title,"#666");
              $.log("Loading 666");
              $.loadpage("666");
              break;
            default:
              Materialize.toast("Unknown error, this should not have happened! (might also be lazy error handling)",4000);
              break;
          }
        }
      });
    });

    $("#form_changePassword").submit(function(e){
      e.preventDefault();
      if($("#password_new").val() == $("#password_new_conf").val()){
        $.ajax({
          url: apiUrl,
          method: "POST",
          data: $(this).serialize() + "&Authtoken=" + values[1] + "&UID=" + values[0],
          success: function(res){
            var data = JSON.parse(res);
            switch(data.status){
              case 200:
                $("#password_current").val();
                $("#password_new").val();
                $("#password_new_conf").val();
                Materialize.updateTextFields();
                Materialize.toast("Update success!",4000);
                break;
              case 666:
                $("[data-maintenance='true']").hide();
                alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
                history.pushState("#666", document.title,"#666");
                $.log("Loading 666");
                $.loadpage("666");
                break;
              default:
                Materialize.toast("Unknown error, this should not have happened! (might also be lazy error handling)",4000);
                break;
            }
          }
        });
      }else{
        Materialize.toast("New password and confirmation do not match!",4000);
      }
    });
  });
});
</script>
