<script>
var pageConfig = {
  "title": "Register",
  "description": "Registration page"
};
</script>

<form class="col s12" id="registerForm">
  <div class="row">
    <div class="input-field col s6">
      <input id="first_name" name="first_name" type="text">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field col s6">
      <input id="last_name" name="last_name" type="text">
      <label for="last_name">Last Name</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="password" name="password" type="password">
      <label for="password">Password</label>
    </div>
    <div class="input-field col s6">
      <input id="password_conf" name="password_conf" type="password">
      <label for="password_conf">Confirm Password</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="username" name="username" type="text">
      <label for="username">Username</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="email" name="email" type="email" class="validate">
      <label for="email">Email Address</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input type="hidden" name="action" value="register">
      <button class="btn waves-effect waves-light" type="submit">Register
        <i class="material-icons right">send</i>
      </button>
      <button class="btn waves-effect waves-light" type="reset">Reset</button>
    </div>
    <div class="row">
      <div class="col s12">
        <small>Door te registreren ga je akkoord met de <a href="#terms-of-service">Gebruiksvoorwaarden</a></small>
      </div>
    </div>
  </div>
</form>

<script>
  $(function(){
    $("#registerForm").submit(function(e){
      // stop the page from refreshing
      e.preventDefault();
      if($("#password").val() == $("#password_conf").val()){
        // Send data to the API
        $.ajax({
          url: apiUrl,
          method: "POST",
          data: $(this).serialize(),
          success: function(res){
            var data = JSON.parse(res);
            switch(data.status){
              case 200:
                Materialize.toast("Registration successful!<br />You have been logged in!", 4000);
                if(data.result.Authtoken && data.result.UID){
                  userData.setItem('Authtoken',data.result.Authtoken);
                  userData.setItem('UID', data.result.UID);
                  $.showLoggedIn();
                  history.pushState("#lijstjes", document.title,"#lijstjes");
                  $.loadpage("lijstjes");
                }else{
                  history.pushState("#login", document.title,"#login");
                  $.loadpage("login");
                }
                break;
              case 500:
                Materialize.toast("Something went wrong while trying to register...<br />Please try again later :-(", 4000);
                $.log(res);
                break;
              case 403:
                Materialize.toast("Username or Email already taken!", 4000);
                $("#username").addClass("invalid");
                $("#email").addClass("invalid");
                break;
              case 666:
                $("[data-maintenance='true']").hide();
                alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
                history.pushState("#666", document.title,"#666");
                $.log("Loading 555");
                $.loadpage("666");
                break;
              default:
                Materialize.toast("Unknown error, this should not have happened!", 4000);
                $.log(res);
                break;
            }
          }
        });
      }else{
        Materialize.toast("Wachtwoorden komen niet overeen!", 4000);
        $("#password").addClass("invalid");
        $("#password_conf").addClass("invalid");
      }
    });
  });
</script>
