<script>
var pageConfig = {
  "title": "Instellingen",
  "description": "Settings page"
};
</script>

<div class="row">
  <div class="col s12">
    <h4>Fout Rapportage</h4>
    <div class="row">
      <div class="switch">
        <label>
          <input type="checkbox" data-setting="error-reports" checked="true">
          <span class="lever"></span>
          Verstuur automatisch foutmeldingen (Herstart vereist)
        </label>
      </div>
    </div>
    <div class="row">
      <div class="switch">
        <label>
          <input type="checkbox" data-setting="error-reports-personalise" checked="true">
          <span class="lever"></span>
          Verstuur persoonlijk identificeerbare gegevens met foutmeldingen
        </label>
      </div>
    </div>
  </div>
</div>


<script>
$(function(){
  appSettings.iterate(function(value, key, iterationNumber) {
    $("[data-setting='"+key+"']").prop('checked', value);
  });

  $("[data-setting]").change(function(e){
    appSettings.setItem($(this).data("setting"), $(this).is(':checked'));
  });
});
</script>
