<script>
var pageConfig = {
  "title": "Lijstje",
  "description": "Lijstjes page"
};
</script>

<div class="row">
  <div class="col s12">
    <a class="btn btn-large waves-effect waves-light right" id="btn_addItem"><i class="material-icons">add</i></a>
    <a class="btn btn-large waves-effect waves-light right" id="btn_deleteLijstje"><i class="material-icons">delete</i></a>
    <a class="btn btn-large waves-effect waves-light right" id="btn_addUser"><i class="material-icons">group_add</i></a>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <ul class="collapsible" data-collapsible="accordion" id="lijstjeContent"></ul>
  </div>
</div>

<div id="modal_addItem" class="modal">
    <div class="modal-content">
      <h4>Item toevoegen</h4>
      <form class="col s12" id="form_addItem">
        <div class="row">
          <div class="input-field col s12">
            <input id="addItem_itemName" name="itemName" type="text">
            <label for="addItem_itemName">Item Naam</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea name="itemNote" class="materialize-textarea"></textarea>
            <label for="itemNote">Notitie</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="hidden" name="action" value="addItem">
            <button class="btn waves-effect waves-light" type="submit">Toevoegen
              <i class="material-icons right">add</i>
            </button>
            <button class="btn waves-effect waves-light" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<div id="modal_addUser" class="modal">
  <div class="modal-content">
    <h4>Gebruiker toevoegen</h4>
    <div class="row">
      <form class="col s12" id="form_addUser">
        <div class="row">
          <div class="input-field col s12">
            <input id="addUser_username" name="username" type="text">
            <label for="addUser_username">Gebruikersnaam of Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="checkbox" class="filled-in" id="mayAdd" name="mayAdd" checked="checked" />
            <label for="mayAdd">Mag items toevoegen</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="checkbox" class="filled-in" id="mayEdit" name="mayEdit" />
            <label for="mayEdit">Mag items bewerken</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="checkbox" class="filled-in" id="mayStripe" name="mayStripe" checked="checked" />
            <label for="mayStripe">Mag items afstrepen</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="checkbox" class="filled-in" id="mayDelete" name="mayDelete" />
            <label for="mayDelete">Mag items verwijderen</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="hidden" name="action" value="addUser">
            <button class="btn waves-effect waves-light" type="submit">Toevoegen
              <i class="material-icons right">add</i>
            </button>
            <button class="btn waves-effect waves-light" type="reset">Reset</button>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion" id="userPermissions"></ul>
      </div>
    </div>
  </div>
</div>

<script>
async function getLijstje(lid){
  return new Promise(function(resolve, reject){
    var UID = getUID();
    var Authtoken = getAuthtoken();
    Promise.all([UID, Authtoken]).then(function(values){
      $.ajax({
        url: apiUrl,
        method: "POST",
        async: false,
        data: "action=getlijstje&lid="+lid+"&Authtoken=" + values[1] + "&UID=" + values[0],
        success: function(res){
          var resData = JSON.parse(res);
          switch(resData.status){
            case 200:
              data = JSON.parse(resData.result.Data);
              changeTitle(pageConfig["title"] + ": " + resData.result.Name);
              if(data.length > 0){
                var lijstjeContent = "";
                $.each( data, function( key, value ) {
                  if(value.status){
                    var checked = "checked=\"checked\"";
                    var style = "style=\"text-decoration: line-through;\"";
                  }else{
                    var checked = "";
                    var style = "style=\"text-decoration: none;\"";
                  }

                  lijstjeContent = lijstjeContent.concat(`
                    <li>
                      <div class="collapsible-header" data-header="`+key+`" `+style+`>
                      `+value.Name+` <span class="badge">`+value.Added.By+`</span>
                      </div>
                      <div class="collapsible-body">
                        <span>`+value.notes+`</span>
                        <span class="right">
                          <div class="col s12">
                            <div class="col s10">
                              <div class="switch">
                                <label>
                                  <input type="checkbox" data-itemtoggle="`+key+`" `+checked+`>
                                  <span class="lever"></span>
                                  Mark Done
                                </label>
                              </div>
                            </div>
                            <div class="col s2">
                              <a href="javascript:;" data-deleteItem="`+key+`"><i class="material-icons">delete</i></a>
                            </div>
                          </div>
                        </span>
                      </div>
                    </li>`);
                });
                $("#lijstjeContent").html(lijstjeContent);
                $("#lijstjeContent").show();
                var lijstjeContent = ""; // Clean for next refresh
              }else{
                $("#lijstjeContent").hide();
              }
              resolve();
              break;
            case 500:
              Materialize.toast("Could not load Lijstje!", 4000);
              resolve();
              break;
            case 404:
              Materialize.toast("Lijstje not found!", 4000);
              resolve();
              break;
            case 403:
              Materialize.toast("Invalid authtoken!", 4000);
              resolve();
              break;
            case 666:
              $("[data-maintenance='true']").hide();
              alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
              history.pushState("#666", document.title,"#666");
              $.log("Loading 555");
              $.loadpage("666");
              resolve();
              break;
            default:
              Materialize.toast("Unknown error, this should not have happened!", 4000);
              $.log(res);
              resolve();
              break;
          }
        }
      });
    });
  });
}

async function getPermissions(lid){
  return new Promise(function(resolve, reject) {
    var UID = getUID();
    var Authtoken = getAuthtoken();
    Promise.all([UID, Authtoken]).then(function(values){
      $.ajax({
        url: apiUrl,
        method: "POST",
        data: "action=getUsers&lid="+lid+"&Authtoken=" + values[1] + "&UID=" + values[0],
        success: function(res){
          var data = JSON.parse(res);
          switch(data.status){
            case 200:
              var userPermissions = "";
              $.each( JSON.parse(data.result), function( key, value ) {
                if(value.OID != value.SID){
                  var mayAdd;
                  var mayEdit;
                  var mayStripe;
                  var mayDelete;

                  if(parseInt(value.A)){
                    var mayAdd = "checked=\"checked\"";
                  }
                  if(parseInt(value.E)){
                    var mayEdit = "checked=\"checked\"";
                  }
                  if(parseInt(value.S)){
                    var mayStripe = "checked=\"checked\"";
                  }
                  if(parseInt(value.D)){
                    var mayDelete = "checked=\"checked\"";
                  }

                  userPermissions = userPermissions.concat(`
                    <li>
                      <div class="collapsible-header">`+value.Username+`</div>
                      <div class="collapsible-body">
                        <span>
                          <div class="row">
                            <div class="col s10">
                              <div class="row">
                                <div class="switch">
                                  <label>
                                    <input type="checkbox" data-permissiontoggle="`+value.ID+`" data-permission="A" `+mayAdd+`>
                                    <span class="lever"></span>
                                    Mag items toevoegen
                                  </label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="switch">
                                  <label>
                                    <input type="checkbox" data-permissiontoggle="`+value.ID+`" data-permission="E" `+mayEdit+`>
                                    <span class="lever"></span>
                                    Mag items bewerken
                                  </label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="switch">
                                  <label>
                                    <input type="checkbox" data-permissiontoggle="`+value.ID+`" data-permission="S" `+mayStripe+`>
                                    <span class="lever"></span>
                                    Mag items afstrepen
                                  </label>
                                </div>
                              </div>
                              <div class="row">
                                <div class="switch">
                                  <label>
                                    <input type="checkbox" data-permissiontoggle="`+value.ID+`" data-permission="D" `+mayDelete+`>
                                    <span class="lever"></span>
                                    Mag items verwijderen
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="col s2">
                              <a href="javascript:;" data-deleteUser="`+value.ID+`"><i class="material-icons">delete</i></a>
                            </div>
                          </div>
                        </span>
                      </div>
                    </li>
                  `);
                }
              });
              $("#userPermissions").html(userPermissions);
              var userPermissions = ""; // Clean for next refresh
              resolve();
              break;
            case 404:
              $.log("User does not own current Lijstje!");
              resolve();
              break;
            case 666:
              $("[data-maintenance='true']").hide();
              alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
              history.pushState("#666", document.title,"#666");
              $.log("Loading 555");
              $.loadpage("666");
              break;
            default:
              Materialize.toast("Unknown error, this should not have happened!", 4000);
              resolve();
              break;
          }
        }
      });
    });
  });
}

function refreshUsers(){
  getPermissions(at).then(function(){
    var UID = getUID();
    var Authtoken = getAuthtoken();
    Promise.all([UID, Authtoken]).then(function(values){
      $('[data-permissiontoggle]').change(function(e) {
        var data = $(this);
        $.ajax({
          url: apiUrl,
          method: "POST",
          data: "action=updatePermissions&lid="+at+"&pid="+$(data).data("permissiontoggle")+"&perm="+$(data).data("permission")+"&value="+$(data).is(':checked')+"&Authtoken=" + values[1] + "&UID=" + values[0]
        });
      });

      $('[data-deleteUser]').click(function(e) {
        e.preventDefault();
        var data = $(this);
        $.ajax({
          url: apiUrl,
          method: "POST",
          data: "action=deleteUser&pid="+$(data).data("deleteuser")+"&Authtoken=" + values[1] + "&UID=" + values[0],
          success: function(res){
            var data = JSON.parse(res);
            switch(data.status){
              case 200:
                Materialize.toast("Sucessfully removed the user!", 4000);
                refreshUsers();
                break;
              case 666:
                $("[data-maintenance='true']").hide();
                alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
                history.pushState("#666", document.title,"#666");
                $.log("Loading 666");
                $.loadpage("666");
                break;
              default:
                Materialize.toast("Unknown error, this should not have happened!", 4000);
                break;
            }
          }
        });
      });
    });
  });
}

function initialize(){
  $.log("Initializing Lijstje");
  $('.collapsible').collapsible();
  $('.modal').modal();
  getLijstje(at).then(function(res){
    $("#btn_addItem").click(function(){
      $('#modal_addItem').modal('open');
    });

    $("#btn_addUser").click(function(){
      $('#modal_addUser').modal('open');
    });

    $('[data-itemtoggle]').change(function(e) {
      var UID = getUID();
      var Authtoken = getAuthtoken();
      var itemData = $(this);
      Promise.all([UID, Authtoken]).then(function(values){
        $.ajax({
          url: apiUrl,
          method: "POST",
          data: "action=stripeItem&lid="+at+"&item="+$(itemData).data("itemtoggle")+"&status="+$(itemData).is(':checked')+"&Authtoken=" + values[1] + "&UID=" + values[0],
          success: function(res){
            var data = JSON.parse(res);
            switch(data.status){
              case 200:
                if($(itemData).is(':checked')){
                  $("[data-header='"+$(itemData).data("itemtoggle")+"']").css("text-decoration", "line-through");
                }else{
                  $("[data-header='"+$(itemData).data("itemtoggle")+"']").css("text-decoration", "none");
                }
                break;
              case 666:
                $("[data-maintenance='true']").hide();
                alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
                history.pushState("#666", document.title,"#666");
                $.log("Loading 666");
                $.loadpage("666");
                break;
              default:
                Materialize.toast("Unknown error, this should not have happened!", 4000);
                $.log(res);
                break;
            }
          }
        });
      });
    });

    refreshUsers();

    $("#btn_deleteLijstje").click(function(e){
      e.preventDefault();
      if (confirm('Weet je zeker dat je dit lijstje wilt verwijderen?')) {
        var UID = getUID();
        var Authtoken = getAuthtoken();
        Promise.all([UID, Authtoken]).then(function(values){
          $.ajax({
            url: apiUrl,
            method: "POST",
            data: "action=deleteLijstje&lid="+at+"&Authtoken=" + values[1] + "&UID=" + values[0],
            success: function(res){
              var data = JSON.parse(res);
              switch(data.status){
                case 200:
                  Materialize.toast("Lijstje deleted!", 4000);
                  history.pushState("#lijstjes", document.title,"#lijstjes");
                  $.loadpage("lijstjes");
                  break;
                case 500:
                  Materialize.toast("Could not delete Lijstje! (it's not yours)", 4000);
                  break;
                case 404:
                  Materialize.toast("Lijstje nog found!", 4000);
                  break;
                case 403:
                  Materialize.toast("Invalid Authtoken!", 4000);
                  break;
                case 666:
                  $("[data-maintenance='true']").hide();
                  alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
                  history.pushState("#666", document.title,"#666");
                  $.log("Loading 666");
                  $.loadpage("666");
                  break;
                default:
                  Materialize.toast("Unknown error, this should not have happened!", 4000);
                  $.log(res);
                  break;
              }
            }
          });
        });
      }
    });

    $("[data-deleteItem]").click(function(e){
      e.preventDefault();
      if (confirm('Weet je zeker dat je dit item wilt verwijderen?')) {
        var UID = getUID();
        var Authtoken = getAuthtoken();
        var data = $(this);
        Promise.all([UID, Authtoken]).then(function(values){
          $.ajax({
            url: apiUrl,
            method: "POST",
            data: "action=deleteItem&lid="+at+"&item="+$(data).data("deleteitem")+"&Authtoken=" + values[1] + "&UID=" + values[0],
            success: function(res){
              var data = JSON.parse(res);
              switch(data.status){
                case 200:
                  Materialize.toast("Item removed from Lijstje!", 4000);
                  initialize();
                  break;
                case 500:
                  Materialize.toast("Could not update Lijstje!", 4000);
                  break;
                case 404:
                  Materialize.toast("Lijstje nog found!", 4000);
                  break;
                case 403:
                  Materialize.toast("Invalid Authtoken!", 4000);
                  break;
                case 666:
                  $("[data-maintenance='true']").hide();
                  alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
                  history.pushState("#666", document.title,"#666");
                  $.log("Loading 666");
                  $.loadpage("666");
                  break;
                default:
                  Materialize.toast("Unknown error, this should not have happened!", 4000);
                  $.log(res);
                  break;
              }
            }
          });
        });
      }
    });
  });
}

$(function(){
  initialize();

  $("#form_addItem").submit(function(e){
    e.preventDefault();
    var data = $(this);
    var UID = getUID();
    var Authtoken = getAuthtoken();
    Promise.all([UID, Authtoken]).then(function(values){
      $.ajax({
        url: apiUrl,
        method: "POST",
        data: $(data).serialize() + "&lid="+at+"&Authtoken=" + values[1] + "&UID=" + values[0],
        success: function(res){
          var data = JSON.parse(res);
          switch(data.status){
            case 200:
              Materialize.toast("Item added to Lijstje!", 4000);
              $("#form_addItem").trigger("reset");
              initialize();
              break;
            case 500:
              Materialize.toast("Could not update Lijstje!", 4000);
              break;
            case 404:
              Materialize.toast("Lijstje nog found!", 4000);
              break;
            case 403:
              Materialize.toast("Invalid Authtoken!", 4000);
              break;
            case 666:
              $("[data-maintenance='true']").hide();
              alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
              history.pushState("#666", document.title,"#666");
              $.log("Loading 666");
              $.loadpage("666");
              break;
            default:
              Materialize.toast("Unknown error, this should not have happened!", 4000);
              $.log(res);
              break;
          }
        }
      });
    });
  });

  $("#form_addUser").submit(function(e){
    e.preventDefault();
    var data = $(this);
    var UID = getUID();
    var Authtoken = getAuthtoken();
    Promise.all([UID, Authtoken]).then(function(values){
      $.ajax({
        url: apiUrl,
        method: "POST",
        data: $(data).serialize() + "&lid="+at+"&Authtoken=" + values[1] + "&UID=" + values[0],
        success: function(res){
          var data = JSON.parse(res);
          switch(data.status){
            case 200:
              Materialize.toast("User added!", 4000);
              $("#form_addUser").trigger("reset");
              refreshUsers();
              break;
            case 500:
              Materialize.toast("Could not add user!", 4000);
              break;
            case "404-1":
              Materialize.toast("User does not exist!", 4000);
              break;
            case 404:
              Materialize.toast("You do not own this Lijstje!", 4000);
              break;
            case 403:
              Materialize.toast("Invalid Authtoken!", 4000);
              break;
            case 666:
              $("[data-maintenance='true']").hide();
              alert("Server is in onderhoud!\r\nProbeer het later nog eens!");
              history.pushState("#666", document.title,"#666");
              $.log("Loading 666");
              $.loadpage("666");
              break;
            default:
              Materialize.toast("Unknown error, this should not have happened!", 4000);
              $.log(res);
              break;
          }
        }
      });
    });
  });
});
</script>
