<script>
var pageConfig = {
  "title": "Gebruiksvoorwaarden",
  "description": "TOS"
};
</script>


Op dit moment gewoon nog geen garanties en TOS kan elk moment veranderen.<br />
Ik doe niks bijzonders met jullie data (bekijken,verkopen,harvesten etc.), don't worry<br />
that's it for now, have fun!
